body {
  background-color: #d3f1df;
}
.border-thick {
  border: 2px solid;
  border-radius: 5%px;
}
.assessment-img {
  width: 700px;
  margin-left: -40px;
  margin-right: 70px;
}
.quoate {
  color: yellowgreen;
  text-align: center;
}
.Center-position {
  padding-left: 150px;
  padding-top: 40px;
}
.gap {
  list-style:armenian
  padding: 10px;
}
.gap li {
  padding-top: 10px;
}